@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-page {
    @apply h-8 w-8 cursor-pointer rounded-md bg-slate-800 text-white;
  }
  .btn-primary {
    @apply cursor-pointer rounded-md bg-slate-800 px-12 py-2 text-white transition-colors duration-500 ease-in-out hover:bg-slate-600;
  }
  .btn-delete {
    @apply cursor-pointer rounded-md bg-red-800 px-12 py-2 text-white transition-colors duration-500 ease-in-out hover:bg-red-600;
  }

  .btn-tab {
    @apply rounded-sm bg-slate-500 px-6 py-2 text-white transition-all duration-500 ease-in-out;
  }

  .activeTab {
    @apply rounded-sm bg-slate-900 px-8 py-2 text-white;
  }
  .active {
    @apply bg-slate-400 text-white;
  }

  .app-link {
    @apply flex h-12 w-32 items-center justify-center rounded-md bg-zinc-600 px-6 py-2 text-white transition-colors duration-500 ease-in-out hover:bg-zinc-800;
  }

  .section {
    @apply flex min-h-screen w-full items-center py-6;
  }

  .selectClass {
    @apply rounded-md bg-slate-300 px-4 py-2 text-black;
  }

  .form-control {
    @apply mb-2;
  }

  .red {
    @apply bg-red-600;
  }

  .d-none {
    display: none;
  }

  .btn-green {
    @apply mt-12 rounded-md bg-green-500 px-8 py-2 text-white transition-colors duration-300 ease-in-out hover:bg-slate-700;
  }
}
